*  {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-color: 
}

* {
  margin: 0;
  padding: 0;
}

/* nav bar */
#nav {
  position: fixed;
  background-color: #d2bcd4;
  padding: 14px 16px;
}

#title {
  font-size: 30px;
  text-decoration: none;
}

/* menu button */
.menu-button {
  font-size: 100;
  background-color: #f5edfa;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-color: #b296b6;
}

/* positioning dropdown content*/
.dropdown {
  position: relative;
  display: inline-block;
}

/* hides content by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .menu-button {background-color: #ffffff;}